#similar-popup-wrapper {
  background-color: #fff;
  width: 320px;
  border: 1px solid #000;
  padding: 10px;
  position: fixed;
  z-index: 10;
}
#similar-popup-wrapper.top-left,
#similar-popup-wrapper.bottom-left {
  border-left: none;
  left: 0;
  top: 100px;
}
#similar-popup-wrapper.bottom-left {
  top: auto;
  bottom: 100px;
}
#similar-popup-wrapper.top-right,
#similar-popup-wrapper.bottom-right {
  border-right: none;
  right: 0;
  top: 100px;
}
#similar-popup-wrapper.bottom-right {
  top: auto;
  bottom: 100px;
}
#similar-popup-wrapper h3.title {
  margin-top: 0;
}
#similar-popup-wrapper .close {
  background-image: url(../images/close.gif);
  width: 13px;
  height: 13px;
  float: right;
  display: block;
  cursor: pointer;
}
#similar-popup-wrapper .close:hover {
  background-position: 0 -13px;
}
